@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

.bg-primary{
    background-color: #5F6FFF;
}

.primary{
    color: #5F6FFF;
}


.input-field {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.input-field:focus {
  border-color: #2563eb;
}

/* global.css */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


/* global.css */
.show-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* gray-300 */
  border-radius: 6px;
}

.show-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f5f9; /* gray-100 */
}
